<%= @player_1_name %> vs. <%= @player_2_name %>
<div>
  Player 1 HP: <%= @player_1_HP %>
  Player 2 HP: <%= @player_2_HP %>
</div>

<form action='/attack' method='post'>
  <input type='submit' value='Attack'>
</form>

<% if @attack_confirmation %>
  <%= @attack_confirmation %>
<% end %>
