<%= @player_1.name %> vs. <%= @player_2.name %>
<div>
  Player 1 HP: <%= @player_1.hp %>
  Player 2 HP: <%= @player_2.hp %>
</div>

<form action='/attack' method='post'>
  <input type='submit' value='Attack'>
</form>

<div>
  <% if @attack_confirmation %>
    <%= @attack_confirmation %>
  <% end %>
</div>

<div>
  <% if @player_2.hp == 0 %>
    <%= @player_2.name %> loses!
  <% end %>
</div>
